aws_region        = "us-east-x"
project           = "Challenge"
domain_staging    = "seu-dominio.com"
domain_production = "seu-dominio.com"
alert_email       = "seu-email@gmail.com"
github_org        = "seu-github"
github_repo       = "nome-do-repo"
ami_id            = "ami-xxxxx"
vpc_cidr          = "192.0.0.0/24"
allowed_origins   = "https://seu-dominio.com"